<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block head %}{% endblock %}
    <script src="{{ url_for('static', filename='js/reactions.js') }}"></script>
    <script src="{{ url_for('static', filename='js/comments.js') }}"></script>
    <link href="{{ url_for('static', filename='frontend/build/static/css/main.5b3343f5.css') }}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside>
            <div class="profile-info">
                <a id="profileLink" href="{{ url_for('profiles.load_profile', url_profile_id=logged_in_profile_id) }}">
                    <img class="profile-image" src="{{ url_for('static', filename=logged_in_profile_photo) }}" alt="Profile Picture">
                </a>
                <p id="logged_in_username">{{username}}</p>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ url_for('main.home',page='home') }}">Home</a></li>
                    <li><a href="{{ url_for('main.recommended',page='recommended') }}">Recommended</a></li>
                    <li><a href="{{ url_for('main.following',page='following') }}">Following</a></li>
                    <li><a href="{{ url_for('main.personal',page='personal') }}">Personal</a></li>
                </ul>
            </nav>
            <div id="upload-section">
                <p>Upload content</p>
                <form id="upload-form" enctype="multipart/form-data" action="/upload" method="post">
                    <input type="text" name="title" placeholder="Enter title">
                    <input type="file" name="file">
                    <input id="upload-submit-button" type="submit" value="Upload">
                </form>
                <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
                <div id="confirmation-message"></div>
            </div>
        </aside>
        <main>
            <header>
                <div class="spacer"></div>
                <form id="search-form" action="/search" method="get">
                    <input type="text" id="keyword" name="keyword" placeholder="Search...">
                    <input id="search-submit-button" type="submit" value="Search">
                </form>
                <div class="spacer"></div>
                <div id="chat-app-root"></div>
                <script src="{{ url_for('static', filename='frontend/build/static/js/main.068e5cbb.js') }}"></script>
            </header>
            <div class="content">
                {% block media_content %}
                {% endblock %}
            </div>
        </main>
    </div>
</body>
</html>