{% extends "base.html" %}
{% import "content_widget.html" as content_widget %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block media_content %}
    <div class="profile-container">
        <img class="large-profile-image" src="{{ url_for('static', filename=logged_in_profile_photo) }}" alt="Profile Picture">
        <p id="large-username-text">{{username}}</p>
        <div id="incoming-requests-root"></div>
        <script src="{{ url_for('static', filename='frontend/build/static/js/main.4e5f6d61.js') }}"></script>
        <div class="form-container">
            <form action="{{ url_for('utils.update_profile_photo') }}" method="post" enctype="multipart/form-data">
                <label for="new_profile_photo">Change Profile Photo:</label>
                <input type="file" id="new_profile_photo" name="new_profile_photo" accept="image/*">
                <input class="button" type="submit" value="Update">
            </form>            
        </div>
        <form action="{{ url_for('user.logout') }}" method="post">
            <button class="button" type="submit">Logout</button>
        </form>
    </div>
    <div class="results-wrapper">
        <div id="results">
            {{ content_macro.render_content(content_items) }}
        </div>
    </div>
{% endblock %}